# ----------------------
# Python bytecode / cache
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------
# Virtual environments
# ----------------------
venv/
.venv/
env/
.env/
#
## ----------------------
## Distribution / packaging
## ----------------------
#build/
#dist/
#*.egg-info/

# ----------------------
# IDE settings
# ----------------------
.idea/
*.iml
.vscode/

# ----------------------
# OS junk
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
logs/
*.log

# ----------------------
# Data & model artifacts (adjust as needed)
# ----------------------
thesis_main_files/data/*
thesis_main_files/notebooks/*
thesis_main_files/notebooks_for_preprocessing/*
thesis_main_files/pretrained_weights/*
thesis_main_files/images/*
thesis_main_files/models/*
*.pt
*.ckpt
*.h5

# ----------------------
# Secrets & local configs
# ----------------------
.env
*.env
secrets.*
*.pem
*.key
*.crt
config_local.*


#----------------------
# Keep the folders of the files ignored
#----------------------
!thesis_main_files/data/.gitkeep
!thesis_main_files/notebooks/.gitkeep
!thesis_main_files/notebooks_for_preprocessing/.gitkeep
!thesis_main_files/pretrained_weights/.gitkeep
!thesis_main_files/images/.gitkeep
!thesis_main_files/models/.gitkeep